<div class="container">
  <div id="col1">
    <table class="table">
      <thead>
        <tr>
          <th><a class="nav-link" href="#inicio" (click)="telaInicio()">Inicio</a></th>
          <th><a class="nav-link" href="#cadastrar" (click)="telaCadastro()">Cadastrar</a></th>
          <th><a class="nav-link" href="#publicar" (click)="telaPublicar()">Publicar</a></th>
          <th><a class="nav-link" href="#statistica" (click)="telaEstatistica()">Estatistica</a></th>
        </tr>
      </thead>
    </table>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#inicio" (click)="telaInicio()">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#cadastrar" (click)="telaCadastro()">Cadastrar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#publicar" (click)="telaPublicar()">Publicar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#Estatistica" (click)="telaEstatistica()">Estatistica</a>
    </li>
  </ul>

  <div *ngIf="tela == 'inicio'">
    <div class="form-group">
      <h3>Noticias</h3>
    </div>
  </div>

  <div *ngIf="tela == 'cadastro'">
    <form #formcadastro="ngForm">
      <h3>Cadastrar</h3>
      <br>

      <div class="form-group">
        <label for="noticia">Autor:</label>
        <select class="form-control" name="autor" id="autor" [(ngModel)]="autor" required>
          <option *ngFor="let autor of service.listaautores()">{{autor}}</option>
        </select>
      </div>
      <br>

      <div class="form-group">
        <label for="noticia">Noticia:</label><br>
        <textarea class="form-control" rows="5" id="noticia" name="noticia" placeholder="Noticia" [(ngModel)]="noticia" required></textarea>
      </div>
      <br>

      <button class="btn btn-success" (click)="salvar()" [disabled]="!formcadastro.form.valid">Salvar</button>
      <button class="btn btn-secondary">Limpar</button>
    </form>
  </div>


  <div *ngIf="tela == 'publicar'">
    <div class="form-group">
      <h3>Publicar</h3>
    </div>
  </div>

  <div *ngIf="tela == 'estatistica'">
    <div class="form-group">
      <h3>Estatísticas</h3>
    </div>
  </div>


</div>